body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    background-image:url("orange-flowers-oil-paint-textured-background.jpg");
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #deed88;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(232, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

h4 {
    font-weight: normal; 
}


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 600px) {
    .container {
        max-width: 100%;
    }
}
